@media screen and (max-width: 768px) {
    .blockWrapper{
        width: 100%;
        .infoBlock{
            width: 50vw;
            .infoBlockWrapper{
                .border{
                    width: 45cqw;
                }
            }
        }
        .images{
            width: 50cqw;
            .bgImg{
                img{
                    width: 50cqw;
                }
            }  
        }
    }
    .StarWars{
        .blockWrapper{
            .bgImg{
                width: 50vw;
            }
            
        }
    }
    .MovieApp{
        .blockWrapper{
            .infoBlock{
                .infoBlockWrapper{
                    .border{
                        width: 40cqw;

                    }
                }
            }
        }

    }
    .WindowBar{
        right: -7cqw;
    }
}
@media screen and (max-width: 425px) {
    .blockWrapper{
        flex-direction: column-reverse;
        .images{
            height: 40vh;
            width: 100vw;
            .swiper{
                height: 30vh;
                width: 80vw;
                .swiper-slide{
                    height: 40vh;
                    img{
                        width: 80cqw;
                    }
                }
            }
            .bgImg{
                img{
                    width: 100cqw;
                }
            }
        }
        
        .infoBlock{
            height: 50vh;
            padding: unset;
            .infoBlockWrapper{
                vertical-align: unset;
                padding: 6vh 5vw 55px 5vw;
                height: 50vh;
                top: 0;
                .tittleBlock{
                    h1{
                        font-size: 9cqw;
                    }
                }
                .border{
                    width: 90vw;
                }
                .descriptionBlock{
                    p{
                        font-size: 3cqw;
                    }
                }
                .buttons{
                    position: relative;
                    justify-content: center;
                    top: 9vh !important;
                    .btn{
                        font-size: 2.5cqw;
                        height: 6cqh;
                        padding: 0 3cqw;
                    }
                }
            }
        }
    }
    .Expedia{
        .blockWrapper{
            
            height: calc(100vh - 120px);
            .infoBlock{
                display: contents;
                .images{
                    height: calc(50vh - 120px);
                    .swiper{
                        height: inherit;
                        .swiper-wrapper{
                            align-items: center;
                            .swiper-slide{
                                container-type: size;
                                justify-content: center;
                                img{
                                    width: 120cqh;
                                }
                            }
                        }
                    }
    
                }
            }


        }
    }
    .header{
        .container{
            .headerWrapper{
                .headerItem{
                    .headerLogo{
                        width: 45cqw;
                        h1{
                            font-size: 12cqw;
                        }
                        .lineMiddle{
                            width: 35cqw;
                        }
                        .lineSmall{
                            width: 20cqw;
                        }

                    }
                }
            }
        }
    }
    .StarWars{
        min-height: unset;
        max-height: 90vh !important;
        .blockWrapper{
            flex-direction: column;
            .bgImg{
                width: 100vw;
                img{
                    width: 100vw;
                    height: 40vh;
                }
            }
            .images{
                height: 40vh;

                .swiper{
                    width: 55cqw;
                    // height: 15cqh;
                    // display: contents;
                    top: 15vh;
                    margin-top: unset;
                    // bottom: 10vh;
                    .swiper-slide{
                        width: 100vw;
                        .imageWrapper{
                            width: 20cqh ;
                            height: 40vh ;
                        }
                    }
                }
            }
            .infoBlock{
                height: 60vh;
                .infoBlockWrapper{
                    padding-top: 10vh;
                }
                .border{
                    width: 90vw;
                }
            }
        }
    }
    .WeatherApp{
        
        .images{
            overflow: auto;
            height: 45vh;
            .grid-container{
                min-width: 90cqw;
                margin: 0 auto !important;
                top: 3vh;
                .grid-item{
                    .tittleBlock{
                        padding: 2px;
                        .cityName{
                            font-size: 3cqw;
                        }
                    }
                }
            }
            .bgImg{
                img{
                    width: 100cqw;
                    height: 80cqh;
                }
            }
        }

    }
    .MovieApp{
        min-height: unset;
        max-height: 90vh;
        .blockWrapper{
            flex-direction: column;
            .infoBlock{
                .border{
                    width: 90cqw !important;
                }
            }

        }
    }
    .Cocktail{
        min-height: unset;
        max-height: 90vh;
        .infoBlock{
            height: 55vh;
        }

    }

}
