@media screen and (max-width: 768px) {
    .blockWrapper{
        width: 100%;
        .infoBlock{
            width: 50vw;
            .infoBlockWrapper{
                .border{
                    width: 45cqw;
                }
            }
        }
        .images{
            width: 50cqw;
            .bgImg{
                img{
                    width: 50cqw;
                }
            }  
        }
    }
    .StarWars{
        .blockWrapper{
            .bgImg{
                width: 50vw;
            }
            
        }
    }
    .MovieApp{
        .blockWrapper{
            .infoBlock{
                .infoBlockWrapper{
                    .border{
                        width: 40cqw;

                    }
                }
            }
        }

    }
    .WindowBar{
        right: -7cqw;
    }
}
@media screen and (max-width: 425px) {
    .blockWrapper{
        flex-direction: column-reverse;
        height: inherit;
        // height: 80vh;
        .images{
            height: 40vh;
            width: 100vw;
            .swiper{
                height: inherit;
                height: -webkit-fill-available;
                width: 80vw;
                .swiper-wrapper{
                    container-type: size;
                    .swiper-slide{
                        // height: 40vh;
                        height: inherit;
                        img{
                            // width: 80cqw;
                            width: 150cqi;
                        }
                    }
                }
            }
            .bgImg{
                img{
                    width: 100cqw;
                }
            }
        }
        
        .infoBlock{
            height: 50vh;
            padding: unset;
            // display: contents;
            .infoBlockWrapper{
                vertical-align: unset;
                // padding: 0vh 5vw 55px 5vw;
                // height: 50vh;
                // height: 100cqi !important;
                padding: 0vh 5vw 0 5vw;
                height: 50cqi !important;
                top: 15vh;

                .tittleBlock{
                    h1{
                        font-size: 9cqw;
                    }
                }
                .border{
                    width: 90vw;
                }
                .descriptionBlock{
                    padding-bottom: 7vh;
                    p{
                        font-size: 3cqw;
                    }
                }
                .buttons{
                    display: contents;
                    position: relative;
                    justify-content: center;
                    top: 9vh !important;
                    .btn{
                        display: inline-block;
                        line-height: 5vh;
                        padding: 0 3cqw;
                        font-size: 2cqw;
                        height: 6cqh;
                        width: 24cqw;
                        margin: 0 8px;
                    }
                }
            }
        }
    }
    .Expedia{
        overflow: hidden;
        height: 110vh;
        .blockWrapper{
            height: 80vh;
            .images{
                // height: calc(50vh - 120px);
                height: 40vh;
            }
            
            // height: calc(100vh - 120px);
            // height: unset;
            .infoBlock{
                display: contents;
                
                    .infoBlockWrapper{
                        bottom: unset;
                        top: 0;
                        .swiper{
                            height: inherit;
                            .swiper-wrapper{
                                align-items: center;
                                .swiper-slide{
                                    container-type: size;
                                    justify-content: center;
                                    img{
                                        width: 120cqh;
                                    }
                                }
                            }
                        }
                    }
    
            }


        }
    }
    .header{
        .container{
            .headerWrapper{
                .headerItem{
                    .headerLogo{
                        width: 45cqw;
                        h1{
                            font-size: 12cqw;
                        }
                        .lineMiddle{
                            width: 35cqw;
                        }
                        .lineSmall{
                            width: 20cqw;
                        }

                    }
                }
            }
        }
    }
    .StarWars{
        min-height: unset;
        max-height: 90vh !important;
        .blockWrapper{
            flex-direction: column;
            .bgImg{
                width: 100vw;
                img{
                    width: 100vw;
                    height: 40vh;
                }
            }
            .images{
                height: 40vh;

                .swiper{
                    width: 55cqw;
                    // height: 15cqh;
                    // display: contents;
                    top: 1vh;
                    margin-top: unset;
                    // bottom: 10vh;
                    .swiper-wrapper{
                        container-type: unset;
                        .swiper-slide{
                            width: 100vw;
                            .imageWrapper{
                                width: 20cqh ;
                                height: 40vh ;
                            }
                        }
                    }
                }
                .imgBottom{
                    bottom: 0;
                }
            }
            .infoBlock{
                height: 60vh;
                .infoBlockWrapper{
                    padding-top: 10vh;
                }
                .border{
                    width: 90vw !important;
                }
            }
        }
    }
    .WeatherApp{
        max-height: 85vh;
        .images{
            overflow: auto;
            height: 45vh;
            .grid-container{
                min-width: 90cqw;
                margin: 0 auto !important;
                top: 3vh;
                .grid-item{
                    .tittleBlock{
                        padding: 2px;
                        .cityName{
                            font-size: 3cqw;
                        }
                    }
                }
            }
            .bgImg{
                img{
                    width: 100cqw;
                    height: 80cqh;
                }
            }
        }

    }
    .MovieApp{
        min-height: unset;
        max-height: 90vh;
        .blockWrapper{
            flex-direction: column;
            .infoBlock{
                .border{
                    width: 90cqw !important;
                }
            }

        }
    }
    .Cocktail{
        min-height: unset;
        max-height: 90vh;
        .infoBlock{
            height: 55vh;
            .infoBlockWrapper{
                top: 5vh;
            }
        }

    }
    .footer{
        .container{
            .imagesWrapper{
                img{
                    width: 10cqw;
                    margin: 0 4cqw;
                }
            }
        }
    }

}
